bitarray
datasets
deepspeed
einops
huggingface_hub[cli]
hydra-core
hydra_colorlog
lightning
matplotlib
opt_einsum
pandas
pydub
pyarrow
rich
sacrebleu
scikit-learn
tensorboardX
timm
torch==2.2.0
torchtext==0.17.0
transformers